*{
    font-family: 'Fanwood Text', serif;
}

#header {
    text-align: center;
    font-family: cursive, "Lucida Handwriting";
    font-size: 70px;
    margin-top: 40pt;
}

#subheader {
    text-align: center;
    opacity: 0.6;
    margin-top: 16pt;
}

#rsvpForm {
    text-align: center;
    margin-top: 100pt;
    display:block;
    position: relative;
}

.navbar-nav.navbar-center {
    margin-top: 72pt;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} 

.bodyClass {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
}

.collapse.navbar-collapse a.active {
    text-decoration: underline;
}

.collapse.navbar-collapse a:hover { 
    text-decoration: underline;
}

.img-responsive {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 50%;
    width: 750px;
    height: 500px;
}

div#ourStoryText {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}