#header {
    text-align: center;
    font-family: cursive, "Lucida Handwriting";
    font-size: 70px;
    margin-top: 40pt;
}

#subheader {
    text-align: center;
    opacity: 0.6;
    margin-top: 16pt;
}

.navbar-nav.navbar-center {
    margin-top: 72pt;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
} 

.bodyClass {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;
}

.nav-item .nav-link .active {
    text-decoration: underline;
}

div.pic {
    width: 600px; /*width of your image*/
    height: 600px; /*height of your image*/
    background-image: url("../assets/IMG-192.jpg");
    margin: 0; /* If you want no margin */
    padding: 0; /*if your want to padding */
}