#rsvpTab {
    background-color: blue;
}

#storyTab {
    background-color: blue;
}

#infoTab {
    background-color: blue;
}

#seatingTab {
    background-color: blue;
}

#hotelTab {
    background-color: blue;
}