<!DOCTYPE html>
<html>
    <head><!-- this is where we will put javascript files and css-->
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap" rel="stylesheet">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <title>Johnsons' Wedding</title>

    <body class="bodyClass">

      <div> <img class="homeHeader" src="https://media-api.xogrp.com/images/78f78640-e6f5-48ca-816e-a10d686b6ec4~rt_auto-rs_1024.h?ordering=explicit" style="margin-bottom: -210px;"> </div>

      <div>
        <h1 id="header">Haley + Joshua</h1>
        <h3 id="subheader">June 4, 2022 - Lexington, KY</h3>
      </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <i class="fas fa-bars"></i>

              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-center">
                  <li class="nav-item" id="homeTab">
                    <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                  </li>
                  <li class="nav-item" id="storyTab">
                    <a class="nav-link" href="./ourStory.html">Our Story</a>
                  </li>
                  <li class="nav-item" id="partyTab">
                    <a class="nav-link" href="./party.html">Wedding Party</a>
                  </li>
                  <li class="nav-item" id="infoTab">
                    <a class="nav-link" href="./info.html">Photos</a>
                  </li>
                  <li class="nav-item" id="hotelTab">
                    <a class="nav-link" href="./hotel.html">Hotels</a>
                  </li>
                  <li class="nav-item" id="rsvpTab">
                    <a class="nav-link" href="./rsvp.html">RSVP</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

          <div>
            <img class="img-responsive" src="../static/IMG-192.jpg" > 
          </div>

          <div id="weddingDay">
            <p>Wedding Day <br>
               June 4, 2022 <br>
               2:30 - 9:30</p>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    
</html>

